body {
  background: #efefef;
  color: #fff;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid #dedede;
}

a {
  color: inherit;
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}


.topNavBar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.topNavBar-inner {
  padding: 20px 16px;
}

.topNavBar .logo {
  font-family: "Arial Black";
  font-size: 24px;
  padding-top: 3px;
  padding-bottom: 4px;
}

.topNavBar .logo > .T {
  color: #e8676b;
}

.topNavBar .logo > .F {
  color: #999da1;
  margin-left: 4px;
}

.topNavBar nav {
  padding-top: 7px;
}

.topNavBar nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

.topNavBar nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}

.topNavBar nav > ul > li > a {
  font-size: 12px;
  color: #b7b7b7;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}

.topNavBar nav > ul > li > a:hover {
  border-bottom: 3px solid #e06567;
}

.banner {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 516px;
}

.banner .mask {
  height: 516px;
  background-color: rgba(0, 0, 0, 0.8);
}

.user-card {
  background: #fff;
  max-width: 940px;
  margin: 0 auto;
  color: #000;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.user-card .picture-text {
  padding: 50px;
}

.user-card .text {
  float: left;
  margin-left: 65px;
  width: 470px;
}

.user-card .text h1 {
  padding-top: 18px;
}

.user-card .text h2 {
  padding-bottom: 20px;
}

.user-card .picture img {
  width: 300px;
  height: 348px;
  float: left;
}

.user-card .picture img {
  width: 300px;
  height: 348px;
  float: left;
}

.user-card .welcome {
  background: #e6686a;
  color: #fff;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;

}

.user-card .triangle {
  display: block;
  border: 10px solid transparent;
  border-left-color: #e6686a;
  border-top-width: 0;
  margin-left: 4px;
}

.user-card dl dt, .user-card dl dd {
  float: left;
  padding: 5px 0;
}

.user-card dl dt {
  width: 30%;
  font-weight: bold;
}

.user-card dl dd {
  width: 60%;
  color: #9da0a7
}

.user-card footer.media {
  background-color: #ff6c66;
  text-align: center;
}

.user-card footer.media a {
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}

.user-card footer.media a:hover {
  background-color: #cf5d5f;
}

.user-card footer.media i {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #fff;
}

body > main {
  margin-top: -340px;
}

body > main .download-resume-wrapper {
  text-align: center;
}

body > main .download-resume {
  font-size: 14px;
  color: #3e4552;
  height: 16px;
  padding: 21px 55px;
  display: inline-block;
  border: 1px solid #cdcfd1;
  border-radius: 2px;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.3s;
}

body > main .download-resume:hover {
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.5);
}

main .description {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  color: #2e2e2e;
  font-family: kai;
  line-height: 1.8;
  font-size: 18px;
}
